<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::parentPage(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>

	<section>

		<div class="card">
			<div class="card-body">
			
				<form >
				
					<div class="form-group">
					     <div class="container text-center">
					     
					          <label for="exampleInputEmail1" class="text-center font-italic"><h3>Enter Amount</h3></label>
					     
					     </div>
						 <input
							type="text"  class="form-control" id="check_out"
							aria-describedby="emailHelp " placeholder="Rs."> 
							
							<button type="submit" onclick="handleCheckOut()" class="btn btn-danger btn-block mt-3" >check out</button>
					</div>
					
			    </form>		
					
			</div>
		</div>
	</section>

</body>
</html>